/* General Page Styling */
body {
    background: linear-gradient(200deg, rgb(194, 163, 241), rgb(88, 170, 221));
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(36, 0, 128);
    font-size: 17px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

/* Headings */
h1 {
    font-size: 40px;
    color: rgb(36, 0, 128);
    text-shadow: rgb(112, 107, 243);
    font-family: Cochin;
    font-weight: bolder
}

h2 {
    font-size: 20px;
    color: rgb(36, 0, 128);
    font-family: Cochin;
}

/* Button */
button {
    margin: 10px;
    padding: 10px;
    color: rgb(36, 0, 128);
    background-color: rgb(40, 138, 199);
    font-family: Cochin;
    font-size: 15px;
    font-weight: bold;
    border-color: rgb(36, 0, 128);
    border-radius: 10px;
    border-width: 5px;
}

/* Images */
img {
    padding: 20px;
}